/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Inter:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

body, header, nav, main, section, footer, img, figure, figcaption, div, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 75%;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}

.banner {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}

.banner-img {
  max-width: 100%;
  height: auto;
}

.main-content {
  display: flex;
  flex: 1;
}

.navbar {
  flex: 0 0 200px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Mono', monospace;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  padding: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Inter', sans-serif;
}

.navbar li:hover {
  background-color: #FFFFFF;
  color: #000000;
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.content {
  flex: 1;
  padding: 0px;
  font-family: 'Inter', sans-serif;
}

.footer {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 0;
  font-family: 'Space Mono', monospace;
}

.footer a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
